.sidebar .widget { margin-top: 16px; margin-bottom: 20px; }
.sidebar .widget:first-child, .sidebar .widget:first-child h3 { margin-top: 0px; }
.sidebar .widget h3 { margin-bottom: 15px; }
#footer .widget ol,
#footer .widget ul { margin-left: 0px; }

/* === QUICK CONTACT FORM */

div.yit_quick_contact {
}
div.yit_quick_contact > div {
	border: 1px solid #f39501;
	padding: 20px 15px 15px 15px !important;
	position: relative;
}
.yit_quick_contact > div:before {
	content: "";
	border: 1px solid #ecd0a3;
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
}
.yit_quick_contact form { margin-bottom: 0px; }
.yit_quick_contact h3 {
	margin-top: 0px;
	color: #be8a0c;
	font-size: 18px;
	font-family: 'Oswald';
	font-weight: normal;
}
.yit_quick_contact p {
	margin-bottom: 15px;
}
.yit_quick_contact label { display: none !important; }
.yit_quick_contact .radio-field label { display: block !important; }

.yit_quick_contact .contact-form fieldset { width: 100%; }

.yit_quick_contact .contact-form input[type="text"],
.yit_quick_contact .contact-form select {
	width: 100%;
	height: 43px;
	color: #a09b9b;
	background-color: #ffffff !important;
	border: 1px solid #d1d1cf;
	padding-left: 44px;
	margin-bottom: 10px;
	font-size: 12px;
	font-family: 'Play';
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.yit_quick_contact .contact-form input[type="text"],
.yit_quick_contact .contact-form select,
.yit_quick_contact .contact-form textarea {
	background-color: #e5e2e2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	font-size: 12px;
	text-indent: 0 !important;
	margin: 0;
}

.yit_quick_contact .contact-form textarea,
.yit_quick_contact .contact-form textarea:focus {
	width: 100%;
	height: 130px;
	background-color: #ffffff !important;
	color: #a09b9b;
	border: 1px solid #d1d1cf;
	padding: 10px 5px 0px 44px !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
}

.yit_quick_contact .contact-form li { position: relative; }
.yit_quick_contact .contact-form li.first-of-line { margin-left: 0px; }
.yit_quick_contact .contact-form li label { display: block; font-size: 10px; }
.yit_quick_contact .input-prepend { margin-bottom: 10px; word-wrap: inherit; }
/*.yit_quick_contact .input-prepend .add-on { left: 85%; background: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; line-height: 32px; }*/
.yit_quick_contact .input-prepend .add-on { position: absolute; top: 1px; left: 1px; background-color: transparent; border: 0px; z-index: 10; width: 45px; height: 43px; padding: 0; line-height: 43px; }
.yit_quick_contact .input-prepend .add-on img { vertical-align: 5px; }
.yit_quick_contact .textarea-field .input-prepend { margin-bottom: 10px; }
/*.yit_quick_contact .textarea-field .input-prepend .add-on { left: 93%; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }*/
.yit_quick_contact .textarea-field .input-prepend .add-on { position: absolute; top: 1px; left: 1px; background-color: transparent; border: 0px; z-index: 10; width: 45px; height: 173px; padding: 0; line-height: 43px; }
.yit_quick_contact .textarea-field .input-prepend .add-on img { vertical-align: 2px; }

.yit_quick_contact .contact-form li.submit-button input.sendmail {
	background: #c58408;
	border: none;
	clear:both;
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 12px;
	font-family: 'Oswald';
	font-weight: normal;
	margin: 0px !important;
	padding: 4px 11px;
	text-transform: uppercase;
}

.yit_quick_contact .contact-form li.submit-button input.sendmail:hover { background-color: #e79c0c; }

.yit_quick_contact .contact-form li.error input, .yit_quick_contact .contact-form li.error textarea, .yit_quick_contact .contact-form li.error select,
.yit_quick_contact .contact-form li input.error, .yit_quick_contact .contact-form li textarea.error, .yit_quick_contact .contact-form li select.error { border:1px solid #e9b4b4; }                    
.yit_quick_contact .contact-form li div.msg-error { font-style:normal; font-size:10px; color:#a72727; margin-top: -20px; display: block; }
.yit_quick_contact .contact-form .contact-form-error-messages { display: none; }

.yit_quick_contact .usermessagea .success { width: auto !important; padding: 10px !important; margin-bottom: 30px !important; }
.yit_quick_contact .usermessagea .success p { width: auto !important; padding-left: 65px; line-height: 32px; }

#footer .yit_quick_contact .contact-form li,
.sidebar-left .yit_quick_contact .contact-form li,
.sidebar-right .yit_quick_contact .contact-form li { width: auto !important; margin-left: 0px; clear: both; float: none; }

/* === QUOTE */
.yit_text_quote { 
	background: url('../images/testimonial-quote.png') no-repeat top left;
	text-align: right; 
	padding-left: 30px;
}

.text-quote-quote, .text-quote-author {
	background: none;
	color: #676768;
	font-size: 14px;
	font-style: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	padding-left: 10px;
}
.text-quote-author {
	color: #1a1919;
	font-style: normal;
}

/* === RECENT POSTS */
.recent-post span, .recent-post a { font-size: 13px; }
.recent-post span.postedby, .recent-post span.postedby a { font-size: 11px; }
.sidebar .recent-post span.postedby { display: none }
.recent-post p { font-size: 14px !important; }
.recent-post .hentry-post div.text.without-thumbnail { margin-left: 0px; min-height: 0px; margin-left: 40px; }
.recent-post .text  { height: auto; margin-top: 10px; font-size: 11px; color: #909091; }
.recent-post .text > a { color: #4f4d4d; line-height: 16px; font-size: 12px !important; font-family: 'Oswald' !important; }
.recent-post .text > a.read-more { color: #d98104; }
.recent-post .text > a.read-more:hover { color: #000; }
.recent-post .text > a:hover { color: #000 ; }
.recent-post .text > a.title { display: block; text-transform: uppercase !important; }
.recent-post .text > a.author { color: #995d08 !important; font-size: 11px !important; font-family: 'Play' !important; }
.recent-post .hentry-post { border: 1px solid #e5e1e1; padding: 5px; margin:0px 0px 15px 0px; height: 64px; }
.recent-post .hentry-post:last-child { margin-bottom: 0px; }
.recent-post .hentry-post p.post-date { color: #909091 !important; font-size: 18px !important;  font-family: 'Oswald' !important; margin: 8px 5px 0px 0px; font-style: normal; text-align: center; text-transform: uppercase; float: left; }
.recent-post .hentry-post p.post-date span { margin-top: 10px; font-size: 30px !important; display: block; }
.recent-post .hentry-post div.text.without-thumbnail p.post-date { margin-top: 0px; }
.recent-post .thumb-img { position: static; background: #fff; padding: 0px; }
#ie8 .recent-post .thumb-img img { max-width: none; }

#footer .recent-post .thumb-img img, .recent-post .thumb-img img,
.sidebar .recent-post .thumb-img img, .recent-post .thumb-img img {
	width: 72px; height: 56px; border: 1px solid #e0dfdf; padding: 2px; box-shadow: 0px 1px 0px #f5f4f4; float: left;
}

#footer .recent-posts h3 { margin-bottom: 15px !important; }
#footer .recent-posts .recent-post { margin-top: 0px !important; }

/* === RECENT POSTS HOME */
.recent-posts-home {  }
.recent-posts-home .border-1 { height: auto; border: 1px solid #b9b9b8; padding: 0px; margin: 0px; }
.recent-posts-home .border-2 { height: auto; border: 1px solid #e5e1e1; padding: 15px 10px 0px 10px; margin: 2px; }

.recent-posts-home h3 { margin: 0px 0px 21px 0px !important; }
.recent-posts-home .recent-post { margin: 0px; }
.recent-posts-home .hentry-post { height: auto; border: 0px; padding: 0px; margin: 0 0 10px 36px; position: relative; }
.recent-posts-home .hentry-post .post-date { width: 46px; height: 59px; padding: 10px 0px 0px 0px; margin: 0 0 0 -46px !important; text-align: center; position: absolute; }
.recent-posts-home .hentry-post .border {
	width: auto !important;
	border: 1px solid #e0dfdf;
	padding: 0 56px 0 75px;
	margin: 0px;
	height: auto;
	min-height: 67px;
	position: relative;
}
.recent-posts-home .hentry-post .border .thumb-img { width: 63px !important; height: 63px !important; margin: 2px 10px 2px -73px !important; float: left; }
.recent-posts-home .hentry-post .border .thumb-img img { width: 63px !important; height: 63px !important; border: 0px !important; padding: 0px !important; margin: 0px !important; }
.recent-posts-home .hentry-post .border div.title {
	color: #909091;
	float: left;
	margin: 0px;
	padding: 15px 0 8px;
	font-size: 13px;
	font-family: 'Play';
}
.recent-posts-home .hentry-post .border .title.without-thumbnail { left: 10px; }
.recent-posts-home .hentry-post .border .title a { color: #995d08; }
.recent-posts-home .hentry-post .border .title a.title {
	color: #4f4d4d;
	width: auto;
	height: auto;
	margin: 0px 0px 3px 0px;
	font-size: 14px;
	font-family: 'Oswald';
	top: auto;
	left: auto;
	right: auto;
	display: block;
	text-transform: uppercase;
	position: static;
}
.recent-posts-home .hentry-post .border .title a.title:hover { color: #000; }
.recent-posts-home .hentry-post .border .comments {
	color: #cbcbcb;
	width: 56px;
	border-left: 1px solid #cdced2;
	margin: 0;
	float: right;
	font-family: 'Oswald';
	position: absolute;
	background: url('../images/recent-posts-home-comments-no.png') 10px 9px no-repeat;
	top: 0;
	bottom: 0;
	right: 0;
}
.recent-posts-home .hentry-post .border .comments.yes { color: #949494; background-image: url('../images/recent-posts-home-comments-yes.png') }
.recent-posts-home .hentry-post .border .comments span { font-size: 24px; display: block; text-align: right; right: 13px; top: 40px; position: absolute; }


/* === MORE PROJECTS === */
.more-projects-widget { position:relative; }
.more-projects-widget .sliderWrap { overflow:hidden; }
.more-projects-widget .jcarousel-clip { margin-left:0; }
.more-projects-widget ul { width:200px !important; margin:0; list-style:none; height:470px !important; padding-bottom:14px; margin-bottom:10px !important; }
.more-projects-widget li { border-bottom:0; clear:both; min-height:76px; }
.more-projects-widget .work-thumb { display:block; width:55px; height:55px; float:left; padding-bottom:14px; border:1px solid #CFCFCF; padding:3px; margin-bottom:1em; }
.more-projects-widget .work-thumb img { margin:0; display:block; width:55px; height:55px; }
.more-projects-widget .meta { float:right; width:130px; margin:0; }
.more-projects-widget .work-title { font-size:13px !important; color:#656262 !important; margin-top:6px; }
.more-projects-widget .categories { padding: 0; font-size: 10px; line-height: 14px; }
.more-projects-widget .categories a { font-size:12px; color:#999 !important; }
.more-projects-widget .categories a:hover { color:#000 !important; }
.more-projects-widget .controls { display:none; margin-top:20px; padding-top:10px; border-top:1px solid #CFCFCF; text-align:center; }
.more-projects-widget .top { display:none; margin-bottom:20px; padding-bottom:10px; border-bottom:1px solid #CFCFCF; text-align:center; }
.more-projects-widget .controls a, .more-projects-widget .top a { background:url('../../../images/icons/nav-slider-projects.png') no-repeat; display:inline-block; width:18px; height:18px; text-indent:-9999px; }
.more-projects-widget a.prev { background-position:left center; margin-right:10px; }
.more-projects-widget a.next { background-position:right center !important; }
.more-projects-widget a.disabled { opacity:0.2; cursor:default; }

/* === FEATURED PROJECTS === */
.featured-projects .featured-projects-widget {
	border: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
	margin-top: 20px !important;
	position: relative;
}
.featured-projects-widget img { border:none !important; padding: 0; width: auto; height: 154px; margin-bottom: 0; }
.featured-projects-widget p.categories { margin: 0 auto; font-size:0.85em; text-align: center; width: 80%; }
.featured-projects-widget h4 {
	clear: both;
	line-height: 1.6em;
	font-size: 15px !important;
	margin-top: 25px;
	margin-bottom: 0;
	text-align: center;
}

.thumb-project{background:#fff;padding:0; margin:0; float:left;margin-bottom:25px;width:100%;}

.thumb-project a{
	border: 1px solid #e1e1e1;
	display:block;
	float:left;
	margin:0;
	padding: 9px;
}

#ie8 .thumb-project a { width: 91%; }

.thumb-project img{border: none; }

.featured-projects-widget .flex-direction-nav a { background-image: url(../../../images/featured-projects-arrows.png); top: 97%; width: 13px; height: 26px; -webkit-transition: none; opacity: 1 }
.featured-projects-widget.flexslider .flex-next { right: 13px !important; }
.featured-projects-widget.flexslider .flex-prev { left: 10px !important; }


/* === CALENDAR */
#wp-calendar { width:100%; margin-top:0; }
#wp-calendar th, #wp-calendar td { line-height:32px; padding:1px 2px; text-align:center; font-size: 14px}
#wp-calendar caption { margin-bottom:10px; font-size:80%; font-weight:bold; }
#wp-calendar th, #wp-calendar #today, #wp-calendar #today a { background-color:#ccc; color:#434343; }
#wp-calendar tfoot a { display:block; }
#wp-calendar #today a:hover { color:#000 }

/* === SEARCH FORM */
#searchform { margin:0px 0 30px 0; position: relative; }
#searchform .screen-reader-text { position: absolute; top: 6px; left: 10px; }
#footer #searchform .screen-reader-text,
.sidebar #searchform .screen-reader-text { display: none !important; }
#searchform input {border:1px solid #CFCFCF;color:#666;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;}
input#searchsubmit {cursor:pointer;width:27%;padding:4px 8px 4px 6px;height:32px; font-family: 'Oswald', 'Georgia', 'Times New Roman', serif;}
.gecko input#searchsubmit {vertical-align: top;}
input#searchsubmit:hover {background:#ddd;}
input#s { width:65%; padding:5px; font-family: 'Play', 'Georgia', 'Times New Roman', serif;}

.ie input#s, .safari input#s, .opera input#s { vertical-align: top; }
.chrome input#searchsubmit { vertical-align: 3px; }

@media (min-width: 768px) and (max-width: 979px) {
	.safari input#s { width: 55%; }
	.safari input#searchsubmit { width: 36%; }
}

.search_mini #mini-search-submit {
	background: transparent;
	border: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
}

/* === LOGIN / SIDEBAR */
body .login_register { color: #8f9090 !important; padding: 0; height: 28px; line-height: 28px; position: absolute; top: -40px; right: 0 }
body .login_register a { color: inherit; font-size: 11px }
body .login_register a:hover { color: #030303 }
body .login_register span { font-size: 14px }


/* === ICON TEXT */
.sidebar .widget-icon-text, #footer .widget-icon-text {clear:both;margin-left:60px;}
#footer .widget-icon-text img, #footer .widget-icon-text [class^=icon],
.sidebar .widget-icon-text img, .sidebar .widget-icon-text [class^=icon] {margin-left:-60px;float:left;padding-top:2px;font-size:48px;color:#000;}
.sidebar .widget-icon-text h3, #footer .widget-icon-text h3 { border-left: 0px; padding-left: 0px; }
#footer .widget-icon-text h3, #footer .widget-icon-text p,
.sidebar .widget-icon-text h3, .sidebar .widget-icon-text p {margin:0;} 

/* === FLICKR RSS */
.widget_flickrRSS img { width: 42px; height: 42px; }
.widget_flickrRSS img {border: 1px solid #CFCFCF; margin: 3px 6px 3px 0; padding: 2px; }
.widget_flickrRSS h3 { margin-bottom: 13px; }

/* === CONTACT INFO */
.contact-info .sidebar-nav { margin-top: 11px; }
.contact-info .sidebar-nav ul { margin-bottom: 0px; }
.contact-info .sidebar-nav ul li {
	border-bottom: 0px;
	line-height: 15px;
	height: auto;
	font-size: 13px !important;
}
.contact-info ul li i {
	color: #8e8f8f !important;
	font-size: 18px !important;
	margin-right: 5px;
}
.contact-info ul li span { color: #000; }

.sidebar .home-widget.contact-info, #footer .widget.contact-info { margin-left: 24px; }

.sidebar .home-widget.contact-info, .sidebar .widget.contact-info, #footer .widget.contact-info { border: 1px solid #b9b9b8; padding: 2px !important; }
.sidebar .home-widget.contact-info .border, .sidebar .widget.contact-info .border, #footer .widget.contact-info .border { height: auto; border: 1px solid #e1dcdc; padding: 0px 10px 10px 10px; }
.sidebar .home-widget.contact-info h3, .sidebar .widget.contact-info h3, #footer .widget.contact-info h3 { color: #373736; font-size: 18px; margin-top:15px; text-transform:uppercase; }
.sidebar .home-widget.contact-info ul li, .sidebar .widget.contact-info ul li, #footer .widget.contact-info ul li {
	color: #898787;
	line-height: 16px;
	border-bottom: 1px solid #e0dfdf;
	padding: 8px 0px 8px 23px;
	margin: 0;
	font-size: 13px;
}
.sidebar .home-widget.contact-info ul li img, .sidebar .widget.contact-info ul li img, #footer .widget.contact-info ul li img { margin: 0px 10px 0px -23px; }
.sidebar .home-widget.contact-info ul li strong, .sidebar .widget.contact-info ul li strong, #footer .widget.contact-info ul li strong { color: #4f4d4d; font-weight: normal; }
.sidebar .home-widget.contact-info ul li:last-child, .sidebar .widget.contact-info ul li:last-child, #footer .widget.contact-info ul li:last-child { border: 0px; }

/* === SIDEBAR NAV */
.sidebar-nav ul { list-style:none; margin-bottom:50px; margin-top:0px }
.sidebar-nav li { border-bottom:1px solid #CFCFCF; margin-bottom:10px; padding-bottom:5px }
.sidebar-nav a, .sidebar-nav li { display:block; height:40px; line-height:30px; }
.sidebar-nav li a { display:inline; line-height:1.71em; }

/* === MENU LINKS */
.widget_nav_menu ul > li, .widget_pages ul > li, .widget_categories ul > li, .portfolio-categories ul > li, .widget_archive ul > li, .almost-all-categories ul > li, .widget_links ul > li {
	list-style: none;
	margin-left: 0px;
}

.widget_nav_menu ul > li a, .widget_pages ul > li a, .widget_categories ul > li a, .portfolio-categories ul > li a, .widget_archive ul > li a, .widget_links ul > li a {
	background: url(../../../images/widget-links.png) no-repeat 5px center;
	border-bottom: 1px solid #d3d2d2;
	color: #676768;
	display: block;
	padding: 5px 0px 5px 25px;
}

ul#almost_all_categories_widget li { display: block; }
.almost-all-categories ul > li {
	display: block;
	border-bottom: 1px solid #d3d2d2 !important;
	font-size: 12px;
	color: #676768;
	background: url(../../../images/widget-links.png) no-repeat 5px center;
	padding: 5px 0px 5px 25px;
}
.almost-all-categories ul > li a {    
	color: #676768 !important;
}
.almost-all-categories ul > li:hover {
	background-color: #e5e2e2;
	border-color: #d3d2d2 !important;
	color: #6C6D03 !important;
}

.widget_nav_menu ul > li a:hover, .widget_pages ul > li a:hover, .widget_categories ul > li a:hover, .portfolio-categories ul > li a:hover, .widget_archive ul > li a:hover, .almost-all-categories ul > li a:hover, .widget_links ul > li a:hover {
	background-color: #f3f3f3;
	border-color: #d3d2d2;
	color: #aa620d;
}

.widget_nav_menu ul li .sub-menu li a, .widget_pages ul li .children li a, .widget_categories ul li .children li a, .portfolio-categories ul li .children li a {
	background-position: 25px center;
	padding-left: 45px;
}

div#footer div.container div.row div.widget_nav_menu ul.menu li.menu-item { width: 50% !important; height: 22px !important; float: left !important; }
div#footer div.container div.row div.widget_nav_menu ul.menu li.menu-item a { background: none !important; border: 0px !important; padding: 0px; }
div#footer div.container div.row div.widget_nav_menu ul.menu li.menu-item a:hover { background: none !important; }

#footer .widget_product_categories .product-categories ul.children { margin-top: 0px; }

/* === TWITTER */
.last-tweets li {
	background: #fff;
	margin-bottom: 20px;
	padding: 0px 0px 0px 41px;
	background: url(../images/last-tweets-line.png) 0px 0px no-repeat;
}

.last-tweets li:last-child { margin-bottom: 0px; }

.last-tweets li p { border: 1px solid #e5e1e1; border-left: 0px !important; padding: 10px; font-size: 12px !important; color: #4f4d4d; line-height: 18px; }
.last-tweets li p span { border: 0px; }

.last-tweets  > h3 + div { margin-top: 13px; }
.last-tweets p:first-child { margin-top: 0px; }
.last-tweets p:last-child { margin-bottom: 0px; }
.last-tweets span.meta { padding: 0; margin-top: 0px; color: #828080; }
.last-tweets p, .last-tweets p a { color: #a77329; font-size: 12px !important; line-height: 20px; }
.last-tweets #follow-twitter {
	text-align: right;
}

.last-tweets #follow-twitter a { color: #676768; font-size: 12px !important; }
#ie8 .last-tweets #follow-twitter { background-position: 55px bottom; }

#topbar .last-tweets h3 { display: none }
#topbar .last-tweets> h3 + div { margin: 0 }
#topbar .last-tweets li { background: #fff; padding: 0; margin: 0; border: none }
#topbar .last-tweets #follow-twitter { display: none }

/* === TEXT IMAGE */
.text-image img{ max-width: 100%; }

/* === RECENT COMMENTS */

.recent-comments .border                  { height: auto; border: 1px solid #e5e1e1; padding: 10px; margin-left: 44px; font-size: 12px; }

.recent-comments .the-post                { line-height:1em; margin-bottom:30px; }   
.recent-comments .the-post p              { color: #4f4d4d; margin-top: 0px; padding-bottom: 0; }
.recent-comments .the-post p.comment      { font-size: 12px; margin-bottom: 12px; }
.recent-comments .avatar                  { display:inline; float:left; margin:0; width: 34px; height: 34px; margin-right: 10px; }
.recent-comments .avatar img              { border: 1px solid #e5e1e1 !important; padding: 2px !important; width: 31px; height: 31px; }     
.recent-comments a.title                  { line-height: 15px; }
.recent-comments .the-post .author        { color: #909091; }
.recent-comments .the-post .author a      { color: #995d08; }

.recent-comments .the-post span,
.recent-comments .the-post a { font-size: 11px; line-height:14px; }

/* === TESTIMONIAL SLIDER */

.sidebar.span3 .testimonial-widget-span, #footer .span3 .testimonial-widget-span { margin: 0px 0px 20px 0px; float:none; }
.testimonial-widget-span .border-1 { height: auto !important; border: 1px solid #b9b9b8; padding: 2px; }
.testimonial-widget-span .border-2 { height: auto !important; border: 1px solid #e1dcdc; padding: 15px 10px 0px 10px; }
.testimonial-widget-span .testimonial-widget { width: auto !important; margin-bottom: 0px !important; float: none; position: relative; overflow:hidden; }

.testimonial-widget h3 { margin: 0px 0px 20px 0px !important; }
.testimonial-widget ul { max-height: 229px; overflow: hidden; }
.testimonial-widget li { display: none; }
.testimonial-widget li:first-child { display: block; }
.testimonial-widget li blockquote { background: none; padding: 0px; }
.testimonial-widget li blockquote p { color: #4f4d4d; line-height: 18px; font-size: 11px !important; margin: 0px 0px 10px 0px; }
.testimonial-widget li .thumbnail { display: none; float: right; padding: 0px; width: 64px; height: 62px; margin-right: -15px; margin-bottom: -25px; margin-top: -15px; border: none; border-radius: 0px; box-shadow: none; }
.testimonial-widget li .name-testimonial { margin: 0px 6px 10px 0px; }
.testimonial-widget li .name-testimonial a { display: block; background:url('../images/testimonial-quote.png') left center no-repeat; margin: 0px 6px 0px 0px; color: #909091; padding: 4px 0px 0px 22px; font-size: 14px; font-weight: normal; text-transform: uppercase; }
.testimonial-widget li .name-testimonial a:hover { color: #000; }
.testimonial-widget li .url-testimonial, .testimonial-widget li .label-testimonial { color: #858585; font-size: 11px; }

.testimonial-widget .flex-direction-nav { position: absolute; overflow: visible; height: 17px; bottom: 10px; right: 0px; }
.testimonial-widget .flex-direction-nav li { position: static; overflow: visible; width: 15px; height: 17px; display:block; float: left; }
.testimonial-widget .flex-direction-nav li a { opacity: 1; -webkit-transition: none; width: 15px; height: 17px; margin: 0; top: auto; right: auto; bottom: auto; left: auto; }
.testimonial-widget .flex-direction-nav li a.flex-prev { background: url('../images/slider-arrow-testimonial.png') left center no-repeat; }
.testimonial-widget .flex-direction-nav li a.flex-next { background: url('../images/slider-arrow-testimonial.png') right center no-repeat; }

#ie8 .testimonial-widget .flex-direction-nav .flex-prev { left: 200px }

 /*
.sidebar.span2 .testimonial-widget .flex-direction-nav .flex-prev { left: 92%; }
.testimonial-widget .flex-direction-nav .flex-next { background-position: right top; right: 0%; }
*/

#home-sidebar .testimonial-widget { height: 200px !important; margin: 0px !important; }

/* === TOGGLE MENU */

.yit_toggle_menu ul {
	margin-bottom: 30px;
}
.yit_toggle_menu ul li ul li ul {
	margin-bottom: 15px;
}

.yit_toggle_menu ul.menu ul li a {
	color: #4f4d4d;
	display: block;
	font-family: 'Play', 'Georgia', 'Times New Roman', serif;
	font-size: 16px;
	text-transform: uppercase;
}

.yit_toggle_menu ul.menu ul li a:hover { color: #000; }

.yit_toggle_menu ul.menu li a {
	border-bottom: 1px solid #e0dfdf;
	padding-bottom: 7px;
	margin-bottom: 7px;
	display: block;
}

.yit_toggle_menu ul.menu li ul.sub-menu li a {
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}
.yit_toggle_menu ul.menu li ul.sub-menu li ul.sub-menu a {
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 12px;
}
.yit_toggle_menu ul.menu li > a {
	color: #373736;
	font-size: 18px;
	font-family: 'Oswald';
	text-transform: uppercase;
}
.yit_toggle_menu ul.menu li.dropdown > a {
	background: url(../images/toggle-closed.png) left 2px no-repeat ;
	padding-left: 28px;
}

.yit_toggle_menu ul.menu.open_none li.dropdown ul,
.yit_toggle_menu ul.menu.open_first li.dropdown ul,
.yit_toggle_menu ul.menu.open_active > li.dropdown ul  { display: none; }
.yit_toggle_menu ul.menu.open_first > li.dropdown:first-child > ul,
.yit_toggle_menu ul.menu.open_all > li.dropdown ul,
.yit_toggle_menu ul.menu.open_active li.dropdown.current-menu-parent > ul,
.yit_toggle_menu ul.menu.open_active li.dropdown.current-menu-ancestor > ul { display: block; }
.yit_toggle_menu ul.menu li.dropdown.opened > a { background-image: url('../images/toggle-opened.png'); }

.yit_toggle_menu ul.menu li.dropdown li.dropdown > a {
	background: none;
	color: #4f4d4d;
	font-family: 'Play', 'Georgia', 'Times New Roman', serif;
	font-size: 16px;
	padding-left: 0px;
}
.yit_toggle_menu ul.menu li.dropdown li.dropdown.opened > a {  }

.yit_toggle_menu ul.menu li.current-menu-item > a,
.yit_toggle_menu ul.menu li.current-menu-ancestor > a,
.yit_toggle_menu ul.menu li.current-menu-parent > a {  }

.yit_toggle_menu ul.menu li.dropdown ul.sub-menu li.dropdown ul.sub-menu { border-left: 1px solid #e0dfdf; padding-left: 10px; }

/* === CALL TO ACTION WIDGET */
.sidebar .cta, #footer .cta, .widget.cta.widget-last { position: relative; }
.sidebar .cta .border-1, #footer .cta .border-1 { height: auto; border: 1px solid #f39501; padding: 0px; margin: 0px; }
.sidebar .cta .border-2, #footer .cta .border-2 { height: auto; border: 1px solid #ecd0a3; padding: 15px 10px; margin: 2px; }
.sidebar .cta .border h3, #footer .cta .border h3 { margin-top: 0px; }
.sidebar .cta form, #footer .cta form { padding:0; -moz-border-radius:0; -webkit-border-radius:0; border-radius:0; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border:none; }
.sidebar .cta .newsletter-call3, #footer .cta .newsletter-call3 { float: none; display: block; height: 40px; margin-top: 15px; border: 0px; }
.sidebar .cta .newsletter-call3 .newsletter-input, #footer .cta .newsletter-call3 .newsletter-input { width: auto; height: 40px; border: 0px; padding: 0px; margin-right:42px; float: none; display:block; }
.sidebar .cta .newsletter-call3 .newsletter-input input, #footer .cta .newsletter-call3 .newsletter-input input { width: 100%; border: 1px solid #d1d1cf; padding: 1px 0px 1px 40px; margin: 0px; background: url("../images/newsletter-widget.png") 7px center no-repeat; display: block;}
.sidebar .cta .newsletter-call3 .newsletter-icon, #footer .cta .newsletter-call3 .newsletter-icon { height: 38px; width: 40px; background: url("../images/newsletter-widget.png") no-repeat scroll center center #FFFFFF}
.sidebar .cta .newsletter-call3 .newsletter-input input, #footer .cta .newsletter-call3 .newsletter-input input,
.widget.cta .newsletter-call3 .newsletter-input input[placeholder] { color:#a09b9b; font-size: 12px !important; }
.sidebar .cta .newsletter-call3 input:focus, #footer .cta .newsletter-call3 input:focus {
	border-color: #cecece;
	outline: 0;

	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.2) !important;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 3px rgba(0, 0, 0, 0.2) !important;
	border-color: rgba(0, 0, 0, 0.2) !important
}
.sidebar .cta .newsletter-submit, #footer .cta .newsletter-submit { display: block; float: right; border: none; margin: 5px 0px; height: auto; }
.sidebar .cta .newsletter-submit .submit-field, #footer .cta .newsletter-submit .submit-field { 

	text-shadow: none !important;
	text-transform: uppercase;
	box-shadow: 0px;
	-webkit-box-shadow: 0px;
	-moz-box-shadow: 0px;

	background-color: #c27d05;
	border: 0px;

	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-family: 'Oswald', 'Verdana', 'Arial', sans-serif;
	font-weight: normal;
	padding: 3px 20px;
	margin-top: 10px;
}
.sidebar .cta .newsletter-submit .submit-field:hover, #footer .cta .newsletter-submit .submit-field:hover { background-color: #e79c0c; }
.sidebar .cta, #footer .cta, .widget.cta p { font-size: 13px; }
.sidebar .cta h6, #footer .cta h6 { font-size: 11px; font-weight: bold; }

#ie8 .sidebar .cta .newsletter-call3 .newsletter-input input,
#ie8 #footer .cta .newsletter-call3 .newsletter-input input { width: 89%; height: 22px; line-height: 1em; }

#home-sidebar .cta .border-2 { height: 185px !important; }


/* === WPML === */
#topbar #lang_sel { height: auto; }
#topbar #icl_lang_sel_widget { margin-right: 10px; margin-left: -10px }
#topbar #lang_sel a.lang_sel_sel { background: url(../../../images/icons/nav-arrow-down.png) right no-repeat }
#topbar #lang_sel ul ul { top: 20px; width: 220px !important }
#topbar #lang_sel ul ul li { padding-top: 5px !important }
#topbar #lang_sel li, #topbar #lang_sel ul ul { width:auto; min-width: 75px !important; border: none; }
#topbar #lang_sel a, #topbar #lang_sel a:visited { border: none !important; line-height: 20px }


#topbar #icl_lang_sel_widget #lang_sel ul li ul {
	background-color: #fff !important; 
	width: auto !important;
	height: auto;
	margin-top: 0px !important;
	margin-left: 0px;
	position:absolute;
	font-size: 14px;
	left:auto;
	padding: 5px 0px !important;
	min-width:200px;
	background:#152f49;
	border: 0px !important;
	z-index: 99999;

	-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

	border-bottom: 5px solid #e6e5e5 !important;
 }
#topbar #icl_lang_sel_widget #lang_sel ul li ul li { padding: 0px !important; }
#topbar #icl_lang_sel_widget #lang_sel ul li ul li a { width: 100px; color:#373736; font-size: 14px; font-family: 'Play'; text-transform: none; font-weight: normal; }
#topbar #icl_lang_sel_widget #lang_sel ul li ul li a:hover { color: #cc9833; background-color: #fff !important; }


/* === FAQ FILTERS === */
.widget.faq-filters {
	background-color: #f1f1f1;
	padding: 4px;
}
.widget.faq-filters .border {
	border: 1px solid #d4d1d1;
	height: auto;
	padding: 10px;

}
.widget.faq-filters .border h3 {
	color: #373736;
	margin-bottom: 2px;
	display: block;
	font-size: 18px;
	text-transform: uppercase;
}
.widget.faq-filters .border p {
	color: #8d8d8d;
	margin: 3px 0px 20px 0px;
	font-size: 12px;
	text-transform: uppercase;
}
.widget.faq-filters .border p a {
	color: #a56d03;
	font-size: 12px;
}
.widget.faq-filters .border p a:hover { color: #aa7613; }
.widget.faq-filters .border * { }
.widget.faq-filters .border ul { padding: 0; margin: 0; float: none; }
.widget.faq-filters .border ul li { padding: 0; margin: 0; float: none; display: block; }
.widget.faq-filters .border ul li img { max-height:50px; position:absolute; }
.widget.faq-filters .border ul li a, #primary .widget.faq-filters .border ul li a {
	border-bottom: 1px solid #e0dfdf;
	/*padding: 18px 0px 12px 50px;*/
	padding: 15px 0px 15px 50px;
	margin: 0px 0px 8px 0px;
	font-size: 18px !important;
	font-family: 'Oswald';
	text-transform: uppercase;
	float: none;
	display: block;
}
.widget.faq-filters .border ul li a:hover { color: #aa7613; }
.widget.faq-filters .border ul li:last-child a { border: 0px; }
.widget.faq-filters .border ul li a.active { color: #aa7613; }


/* ===== WOOCOMMERCE CART ===== */
.sidebar .widget.widget_shopping_cart, #footer .widget.widget_shopping_cart {  }
.sidebar .widget.widget_shopping_cart .border-1, #footer .widget.widget_shopping_cart .border-1 { height: auto; border: 1px solid #b9b9b8; padding: 2px; }
.sidebar .widget.widget_shopping_cart .border-2, #footer .widget.widget_shopping_cart .border-2 { height: auto; border: 1px solid #dfdada; padding: 15px 10px 10px 13px; }
.sidebar .widget.widget_shopping_cart h3, #footer .widget.widget_shopping_cart h3 { color: #373736; margin-top: 0px; font-size: 18px; font-weight: normal; }
.sidebar .widget.widget_shopping_cart li, #footer .widget.widget_shopping_cart li { border-bottom: 1px solid #e0dfdf; padding: 0px 0px 10px 0px; margin: 0px 0px 10px 0px; }
.sidebar .widget.widget_shopping_cart li img, #footer .widget.widget_shopping_cart li img { width: 72px; height: 56px; border: 1px solid #e0dfdf; padding: 2px; box-shadow: 0px 1px 0px #f5f4f4; }
.sidebar .widget.widget_shopping_cart li a, #footer .widget.widget_shopping_cart li a { color: #373736; margin-bottom: 5px; font-size: 14px; text-transform: uppercase; font-family: 'Oswald'; font-weight: normal; }
.sidebar .widget.widget_shopping_cart li a.remove_item, #footer .widget.widget_shopping_cart li a.remove_item { background:url('../images/cart_remove_item.png') 90px center no-repeat; padding-left: 103px; margin-bottom: 2px; font-size: 8px; }
.sidebar .widget.widget_shopping_cart li .quantity, #footer .widget.widget_shopping_cart li .quantity { color: #8b8b84 !important; font-size: 14px; font-family: 'Oswald'; font-weight: normal; }
.sidebar .widget.widget_shopping_cart li .quantity span, #footer .widget.widget_shopping_cart li .quantity span { color: #8b8b84 !important; font-size: 14px; font-family: 'Oswald'; font-weight: normal; }
.sidebar .widget.widget_shopping_cart li .border.clear, #footer .widget.widget_shopping_cart li .border.clear { border: 0px; padding: 0px; margin: 0px; }

.sidebar .widget.widget_shopping_cart li .variation, #footer .widget.widget_shopping_cart li .variation { border: 0px; padding: 0px; margin: 0px; float: right; font-size: 11px; }
.sidebar .widget.widget_shopping_cart li .variation dt, #footer .widget.widget_shopping_cart li .variation dt { border: 0px; padding: 0px; margin: 0px; float: none; display: inline; font-size: 11px; }
.sidebar .widget.widget_shopping_cart li .variation dd, #footer .widget.widget_shopping_cart li .variation dd { border: 0px; padding: 0px; margin: 0px; float: none; display: inline; font-size: 11px; }

.sidebar .widget.widget_shopping_cart .total, #footer .widget.widget_shopping_cart .total { color: #373736; font-size: 14px; font-family: 'Oswald'; border: 0px; padding: 0px; margin: 0px 0px 0px 90px; }
.sidebar .widget.widget_shopping_cart .total span, #footer .widget.widget_shopping_cart .total span { float: right; }

.sidebar .widget.widget_shopping_cart .buttons, #footer .widget.widget_shopping_cart .buttons { margin-bottom: 0px; text-align: center; }
.sidebar .widget.widget_shopping_cart .buttons .button, #footer .widget.widget_shopping_cart .buttons .button { color: #fff; background-color: #333; padding: 5px 20px; font-size: 12px; font-family: 'Oswald'; font-weight: normal; text-transform: uppercase; }
.sidebar .widget.widget_shopping_cart .buttons .button:hover, #footer .widget.widget_shopping_cart .buttons .button:hover { background-color: #828282; }
.sidebar .widget.widget_shopping_cart .buttons .button.checkout, #footer .widget.widget_shopping_cart .buttons .button.checkout { background-color: #c58408; }
.sidebar .widget.widget_shopping_cart .buttons .button.checkout:hover, #footer .widget.widget_shopping_cart .buttons .button.checkout:hover { background-color: #e79c0c; }

.sidebar .widget.widget_shopping_cart .empty, #footer .widget.widget_shopping_cart .empty { display: none; }
.sidebar .widget.widget_shopping_cart .empty-buttons, #footer .widget.widget_shopping_cart .empty-buttons { border-top: 1px solid #e0dfdf; padding-top: 10px; line-height: 30px; }
.sidebar .widget.widget_shopping_cart .empty-buttons a.button, #footer .widget.widget_shopping_cart .empty-buttons a.button { color: #fff; background-color: #c58408; padding: 5px 20px; font-size: 12px; font-family: 'Oswald'; font-weight: normal; text-transform: uppercase; }
.sidebar .widget.widget_shopping_cart .empty-buttons a.button:hover, #footer .widget.widget_shopping_cart .empty-buttons a.button:hover { color: #fff !important; background-color: #e79c0c; }


/* ===== WOOCOMMERCE ===== */

.widget.widget_onsale,
.widget.widget_best_sellers,
.widget.widget_recent_reviews,
.widget.widget_recent_products,
.widget.widget_random_products,
.widget.widget_featured_products,
.widget.widget_top_rated_products,
.widget.widget_recently_viewed_products {  }

.widget.widget_onsale li,
.widget.widget_best_sellers li,
.widget.widget_recent_reviews li,
.widget.widget_recent_products li,
.widget.widget_random_products li,
.widget.widget_featured_products li,
.widget.widget_top_rated_products li,
.widget.widget_recently_viewed_products li { margin-bottom: 17px; position: relative; line-height: normal; font-size: 13px; vertical-align: none; }

.widget.widget_onsale h3,
.widget.widget_best_sellers h3,
.widget.widget_recent_reviews h3,
.widget.widget_recent_products h3,
.widget.widget_random_products h3,
.widget.widget_featured_products h3,
.widget.widget_top_rated_products h3,
.widget.widget_recently_viewed_products h3 { color: #373736; font-size: 18px; font-weight: normal; }

.widget.widget_onsale h3,
.widget.widget_best_sellers h3,
.widget.widget_recent_products h3,
.widget.widget_random_products h3,
.widget.widget_featured_products h3,
.widget.widget_recently_viewed_products h3 { margin-bottom: 25px !important; }

.widget.widget_onsale li a,
.widget.widget_best_sellers li a,
.widget.widget_recent_reviews li a,
.widget.widget_recent_products li a,
.widget.widget_random_products li a,
.widget.widget_featured_products li a,
.widget.widget_top_rated_products li a,
.widget.widget_recently_viewed_products li a { width: 100%; color: #552f2e; margin: 0px; font-size: 13px; font-family: 'Play'; text-transform: uppercase; display: block; }

.widget.widget_onsale li a:hover,
.widget.widget_best_sellers li a:hover,
.widget.widget_recent_reviews li a:hover,
.widget.widget_recent_products li a:hover,
.widget.widget_random_products li a:hover,
.widget.widget_featured_products li a:hover,
.widget.widget_top_rated_products li a:hover,
.widget.widget_recently_viewed_products li a:hover {color: #c58408; }

.widget.widget_onsale li a,
.widget.widget_best_sellers li a,
.widget.widget_recent_products li a,
.widget.widget_random_products li a,
.widget.widget_featured_products li a,
.widget.widget_recently_viewed_products li a { padding-top: 12px; }

.widget.widget_onsale li a img,
.widget.widget_best_sellers li a img,
.widget.widget_recent_reviews li a img,
.widget.widget_recent_products li a img,
.widget.widget_random_products li a img,
.widget.widget_featured_products li a img,
.widget.widget_top_rated_products li a img,
.widget.widget_recently_viewed_products li a img { border: 1px solid #e0dfdf; padding: 2px; margin-right: 10px; box-shadow: 0px 1px 0px #f5f4f4; float: left; }

.widget.widget_onsale li a:hover img,
.widget.widget_best_sellers li a:hover img,
.widget.widget_recent_reviews li a:hover img,
.widget.widget_recent_products li a:hover img,
.widget.widget_random_products li a:hover img,
.widget.widget_featured_products li a:hover img,
.widget.widget_top_rated_products li a:hover img,
.widget.widget_recently_viewed_products li a:hover img { border: 1px solid #aaa !important; }

.widget.widget_onsale li a img,
.widget.widget_best_sellers li a img,
.widget.widget_recent_products li a img,
.widget.widget_random_products li a img,
.widget.widget_featured_products li a img,
.widget.widget_recently_viewed_products li a img { margin-top: -12px; }

.widget.widget_onsale li del,
.widget.widget_best_sellers li del,
.widget.widget_recent_reviews li del,
.widget.widget_recent_products li del,
.widget.widget_random_products li del,
.widget.widget_featured_products li del,
.widget.widget_top_rated_products li del,
.widget.widget_recently_viewed_products li del { color: #969292 !important; }

.widget.widget_onsale li ins,
.widget.widget_best_sellers li ins,
.widget.widget_recent_reviews li ins,
.widget.widget_recent_products li ins,
.widget.widget_random_products li ins,
.widget.widget_featured_products li ins,
.widget.widget_top_rated_products li ins,
.widget.widget_recently_viewed_products li ins { color: #2b2b2b !important; }

.widget.widget_onsale li .star-rating,
.widget.widget_best_sellers li .star-rating,
.widget.widget_recent_reviews li .star-rating,
.widget.widget_recent_products li .star-rating,
.widget.widget_random_products li .star-rating,
.widget.widget_featured_products li .star-rating,
.widget.widget_top_rated_products li .star-rating,
.widget.widget_recently_viewed_products li .star-rating { margin: 26px 0px 0px 89px; position: absolute; }


/* ===== WOOCOMMERCE PRODUCTS ===== */
.woocommerce ul.product_list_widget li:after,
.woocommerce ul.product_list_widget li:before,
.woocommerce ul.product_list_widget li:after,
.woocommerce ul.product_list_widget li:before { content: " "; display: table; }

.woocommerce ul.product_list_widget li + li { margin-top: 10px }
.woocommerce ul.product_list_widget li img { margin-right: 10px; }
.woocommerce ul.product_list_widget li .amount { float: none; /*display: block;*/ }

.woocommerce ul.product_list_widget li:after { clear :both; }

.woocommerce ul.product_list_widget li img,
.woocommerce ul.product_list_widget li img { float: left; height: auto; }

.woocommerce .widget_products ul.product_list_widget {
    list-style-type: none;

}
.woocommerce .widget_products ul.product_list_widget a {
    clear: both;
    display: block;
}
.woocommerce .widget_products ul.product_list_widget ins {
    text-decoration: none;
    display: block;
}
/* ===== FEATURED PRODUCTS SLIDER ===== */

.sidebar .featured-products-widget, #footer .featured-products-widget { min-height: 183px; position: relative; }
.sidebar .featured-products-widget .border-1, #footer .featured-products-widget .border-1 { height: auto; border: 1px solid #b9b9b8; padding: 2px; }
.sidebar .featured-products-widget .border-2, #footer .featured-products-widget .border-2 { height: auto; border: 1px solid #dfdada; padding: 10px; }
.sidebar .featured-products-widget ul.slides, #footer .featured-products-widget ul.slides { border: 0px; padding: 5px 15px; }
.sidebar .featured-products-widget h3, #footer .featured-products-widget h3 { margin-top: 0px !important; font-size: 18px !important; }
.sidebar .featured-products-widget li, #footer .featured-products-widget li { display: none; text-align:center; }

.sidebar .featured-products-widget li img, #footer .featured-products-widget li img { margin-bottom: 10px; }
.sidebar .featured-products-widget li a, #footer .featured-products-widget li a { color: #552f2e; display: block; text-transform: uppercase; font-size: 13px; }
.sidebar .featured-products-widget li span, #footer .featured-products-widget li span { color: #2b2b2b; font-size: 13px; }
.sidebar .featured-products-widget li span.from, #footer .featured-products-widget li span.from { display: none; }
.sidebar .featured-products-widget li del span, #footer .featured-products-widget li del span { color: #969292; margin-right: 5px; font-size: 13px; }
.sidebar .featured-products-widget li ins, #footer .featured-products-widget li ins { text-decoration: none; }

.sidebar .featured-products-widget .flex-direction-nav li, #footer .featured-products-widget .flex-direction-nav li { display: block; }
.sidebar .featured-products-widget .flex-direction-nav a, #footer .featured-products-widget .flex-direction-nav a { background-image: url('../images/featured-products-arrows.png'); top: 50%; width: 15px; height: 26px; -webkit-transition: none; opacity: 1 }
.sidebar .featured-products-widget .flex-next, #footer .featured-products-widget .flex-next { right: 20px !important; }
.sidebar .featured-products-widget .flex-prev, #footer .featured-products-widget .flex-prev { left: 20px !important; }

/* ===== WIDGET LOGIN ===== */

.sidebar .widget.widget_login form .submitbutton, #footer .widget.widget_login form .submitbutton { color: #fff; background-color: #c58408; padding: 5px 20px; border: 0px; margin-right: 10px; font-size: 12px; font-family: 'Oswald'; font-weight: normal; text-transform: uppercase; }
.sidebar .widget.widget_login form .submitbutton:hover, #footer .widget.widget_login form .submitbutton:hover { color: #fff !important; background-color: #e79c0c; }

